api_venv/*
__pycache__/*
*.pyc
*.log

dev/app/__pycache__/*
dev/app/processed_videos/*
dev/app/temp/*
dev/app/users.txt
dev/model/*



prod/app/__pycache__/*
prod/app/processed_videos/*
prod/app/temp/*
prod/app/users.txt
prod/model/*

